{% extends 'main/base.html' %}
{% block title %}{{ form_title }}{% endblock %}
{% block content %}
<h2>{{ form_title }}</h2>

<form method="post">
    {% csrf_token %}
    <label>제목: <input type="text" name="title" value="{{ post.title|default_if_none:'' }}"></label><br><br>
    <label>내용: <textarea name="content">{{ post.content|default_if_none:'' }}</textarea></label><br><br>
    <button type="submit">{{ button_text }}</button>
</form>

{% if post %}
    <a href="{% url 'board:post_detail' post.id %}">← 돌아가기</a>
{% else %}
    <a href="{% url 'board:post_list' %}">← 목록으로</a>
{% endif %}
{% endblock %}
